/*------------------
*	Home Banner
-------------------*/
.home-banner {
	position: relative;
	padding: 220px 0 300px;
	overflow: hidden;
	@include down-sm {
		padding: 160px 0 250px;
	}
	.effect {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		pointer-events: none;
		&:before,
		&:after {
		    position: absolute;
		    content: '';
		    width: 875px;
		    height: 300%;
		    bottom: -100%;
		    transform: rotate(-45deg);
		    background: rgba(255, 255, 255, 0.02);
		    z-index: 1;
		}
		&:after {
			left: 50%;
			margin-left: -130px;
		}
	}
	&:after {
	    content: "";
	    position: absolute;
	    bottom: 0;
	    left: -300px;
	    right: -110px;
	    top: 0;
	    @include skew(-29);
	    border-radius: 0 0 180px 0;
		background: $px-theme;
		pointer-events: none;
	}
	.container {
		position: relative;
		z-index: 1;
	}
	.hb-text {
		text-align: center;
		margin: 0 0 50px;
		h3 {
			color: $px-white;
            font-weight: 400;
		    font-size: 60px;
		    margin: 0 0 40px;
		    @include down-sm {
		    	font-size: 32px;
		    }
		    b {
		    	font-weight: 400;
		    	text-decoration: underline;
		    }
		}
		p {
			color: $px-white;
	        font-size: 20px;
		    width: 800px;
		    margin: 0 auto;
		    max-width: 100%;
		    line-height: 32px;
		}
	}
	.hb-form {
	    background: $px-white;
	    padding: 20px;
	    box-shadow: 0 20px 0 -10px rgba($px-white, 0.17), 0 38px 0 -20px rgba($px-white, 0.17);
	    border-radius: 8px;
		.form-control {
			border-radius: 3px;
			background: $px-white;
			border:1px solid rgba($px-black, 0.20);			
			box-shadow: none;
			height: 45px;
			width: 100%;
			font-size: 15px;
			@include down-sm {
				margin-bottom: 15px;
			}
		}
		.m-btn {
			width: 100%;
			height: 45px;
			padding: 0 15px;
		}
	}
}


/*------------------
*	Home Banner
-------------------*/
.home-banner-01 {
	position: relative;
	padding: 170px 0 0;
	@include down-sm {
		padding: 130px 0 0;
	}
	.hb-text {
		text-align: center;
		margin-bottom: 50px;
		h1 {
			font-weight: 600;
			color: $px-white;
			font-size: 60px;
			margin: 0 0 30px;
			@include down-sm {
				font-size: 30px;
				margin: 0 0 20px;
			}
		}
		p {
			font-size: 20px;
			margin: 0 0 40px;
			color: $px-white;
			@include down-sm {
				font-size: 17px;
				margin: 0 0 20px;
			}
		}
		.btn-bar {
			.m-btn {
				margin: 5px;
				min-width: 150px;
				text-align: center;
			}
		}
	}
}

/*------------------
*	Home Banner
-------------------*/
.home-banner-02 {
	position: relative;
	padding: 220px 0 0;
	overflow: hidden;
	@include down-sm {
		padding: 130px 0 0;
	}
	.effect {
	    position: absolute;
	    top: -30%;
	    left: -40%;
	    bottom: 29%;
	    right: -40%;
	    @include rotate(14);
		background: $px-theme;
		pointer-events: none;
	}
	.hb-text {
		text-align: center;
		margin-bottom: 30px;
		h1 {
			font-weight: 600;
			color: $px-white;
			font-size: 60px;
			margin: 0 0 30px;
			@include down-sm {
				font-size: 30px;
				margin: 0 0 20px;
			}
		}
		p {
			color: $px-white;
			font-size: 18px;
			margin: 0;
		}
	}
}

/*------------------
*	Home Banner
-------------------*/
.home-banner-03 {
	position: relative;
	padding: 70px 0 0;
	overflow: hidden;
	@include down-md {
		padding: 140px 0 0;
	}
	@include down-sm {
		padding: 120px 0 0;
	}
	.effect {
	    position: absolute;
        top: -50%;
	    left: -50%;
	    bottom: 80px;
	    right: -50%;
		background: $px-theme;
		pointer-events: none;
	}
	.hb-text {
		padding: 0 0 80px;
		@include down-md {
			padding: 0 0 40px;
		}
		h1 {
			font-weight: 600;
			color: $px-white;
			font-size: 50px;
			margin: 0 0 30px;
			@include down-sm {
				font-size: 30px;
				margin: 0 0 20px;
			}
		}
		p {
			color: $px-white;
			font-size: 20px;
    		margin: 0;
		}
		.btn-bar {
			margin-top: 40px;
			.m-btn {
			    min-width: 160px;
			    text-align: center;
			    margin-right: 6px;
			}
		}
	}
}

/*------------------
*	Home Banner
-------------------*/
.home-banner-04 {
	position: relative;
	overflow: hidden;
	padding: 100px 0 0;
	@include down-md {
		padding-top: 140px;
	}
	.hb-text {
		h1 {
			font-weight: 600;
			color: $px-dark;
			font-size: 50px;
			margin: 0 0 20px;
			@include down-sm {
				font-size: 30px;
				margin: 0 0 15px;
			}
		}
		p {
			font-size: 18px;
    		margin: 0;
		}
	}

	.hb-form {
		padding-top: 30px;
		.form-control {
		    height: 50px;
		    border-radius: 0;
		    border: 1px solid #ddd;
		}
		.m-btn {
			height: 50px;
			line-height: 50px;
			padding: 0 30px;
		}
		.help-text {
			font-size: 14px;
			opacity: 0.8;
		}
	}
}