/* Our Client 1
-------------------*/
.owl-item .our-client {
	img {
		width: auto;
		margin: 0 auto;
	}
}

.our-client-border {
	border: 1px solid #ddd;
	text-align: center;
	padding: 50px 20px;
	background: $px-white;
}