.video-box {
	position: relative;
	box-shadow: 0px 3px 10px 0px rgba(38, 59, 94, 0.1);
	border-radius: 10px;
	overflow: hidden;
	padding: 20% 15%;
	text-align: center;
	@include down-sm {
	   padding: 12% 8%;
	}
	h3 {
	    font-size: 46px;
	    margin: 40px 0 0;
	    @include down-sm {
	    	font-size: 25px;
	    }
    }
}
